anndata>=0.9
matplotlib>=3.7
networkx>=2.8
numpy>=1.23
pandas>=1.5
python-igraph>=0.10
louvain>=0.8
scanpy>=1.9
scikit-learn>=1.2
scipy>=1.10
torch>=2.0
torch-geometric>=2.3
torch-scatter>=2.1
torch-sparse>=0.6
tqdm>=4.65
